<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0649-3ea35add-00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,184},{38,89}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{38,89}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,184},{36,89}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{36,89}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,93},{34,89}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{34,89}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{34,89}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{34,89}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,93},{36,89}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{36,89}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,93},{38,89}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{38,89}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{38,89}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{38,89}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{38,87}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{38,87}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,91},{36,87}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{36,87}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,180},{36,87}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{36,87}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-01000.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,364},{36,87}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,2},{36,87}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-01001.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,180},{32,87}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,2},{32,87}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-01002.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,358},{28,87}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,2},{28,87}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-01003.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,269},{28,87}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{28,87}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-01004.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,358},{28,87}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,2},{28,87}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-01005.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,366},{34,89}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{34,89}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-01006.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{36,89}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{36,89}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-01007.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,184},{32,89}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{32,89}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-01008.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,184},{28,89}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{28,89}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-01009.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,275},{36,87}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{36,87}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-02000.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,243},{38,77}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{38,77}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-02001.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,318},{36,77}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{36,77}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-02002.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,476},{34,77}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,12},{34,77}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-02003.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,397},{34,77}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{34,77}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-02004.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,239},{36,77}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{36,77}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-02005.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,81},{38,77}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{38,77}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-02006.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,164},{38,77}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{38,77}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-02007.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,411},{38,77}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{38,77}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-02008.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,160},{36,77}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{36,77}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-02009.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,401},{36,77}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{36,77}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-03000.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,174},{36,81}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{36,81}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-03001.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,427},{32,81}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{32,81}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-03002.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,423},{28,81}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{28,81}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-03003.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,340},{28,81}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{28,81}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-03004.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,257},{28,81}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{28,81}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-03005.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{34,81}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{34,81}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-03006.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,251},{36,79}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{36,79}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-03007.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,83},{32,79}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{32,79}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-03008.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{28,79}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{28,79}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-03009.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,332},{36,79}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{36,79}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-04000.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,366},{38,89}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{38,89}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-04001.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,366},{36,89}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{36,89}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-04002.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,275},{36,89}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{36,89}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-04003.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,275},{34,89}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{34,89}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-04004.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,275},{36,89}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{36,89}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-04005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,275},{40,89}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{40,89}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-04006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{40,89}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{40,89}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-04007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{40,89}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{40,89}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-04008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,89}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{40,89}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-04009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{38,89}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{38,89}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-05000.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,457},{42,81}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,7},{42,81}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-05001.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,261},{36,81}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,7},{36,81}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-05002.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,87},{34,81}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,7},{34,81}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-05003.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,344},{32,81}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,7},{32,81}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-05004.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,89},{30,83}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,6},{30,83}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-05005.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,348},{28,83}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,6},{28,83}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-05006.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{28,83}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,7},{28,83}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-05007.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,176},{30,83}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,7},{30,83}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-05008.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,263},{32,83}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,6},{32,83}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-05009.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,447},{40,81}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,7},{40,81}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-06000.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,85},{38,79}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{38,79}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-06001.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,251},{36,79}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{36,79}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-06002.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{36,79}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{36,79}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-06003.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,166},{34,79}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{34,79}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-06004.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,322},{36,77}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{36,77}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-06005.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,332},{40,77}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{40,77}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-06006.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,453},{42,77}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,14},{42,77}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-06007.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,413},{40,77}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{40,77}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-06008.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{40,77}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{40,77}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-06009.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,170},{38,79}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{38,79}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-07000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,457},{42,85}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{42,85}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-07001.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,91},{36,87}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{36,87}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-07002.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{34,87}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{34,87}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-07003.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,269},{32,87}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{32,87}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-07004.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,358},{30,87}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{30,87}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-07005.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{28,85}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{28,85}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-07006.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,89},{28,85}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{28,85}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-07007.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,176},{30,85}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{30,85}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-07008.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,89},{32,85}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{32,85}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>0649-3ea35add-07009.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{38,85}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{38,85}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>0.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec5121c354c08cd8232a47d3b6192229:1/1$</string>
            <key>textureFileName</key>
            <string>0.png</string>
        </dict>
    </dict>
</plist>
