<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2154-e1380841-00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{60,87}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{60,87}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
            <key>2154-e1380841-00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{52,85}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{52,85}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
            <key>2154-e1380841-00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,261},{56,83}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{56,83}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
            <key>2154-e1380841-00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{58,87}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{58,87}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
            <key>2154-e1380841-00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,271},{56,87}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{56,87}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
            <key>2154-e1380841-00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{62,85}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{62,85}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
            <key>2154-e1380841-00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,348},{56,83}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{56,83}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
            <key>2154-e1380841-00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{56,83}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{56,83}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
            <key>2154-e1380841-01000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{60,87}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{60,87}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
            <key>2154-e1380841-01001.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,89},{54,85}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{54,85}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
            <key>2154-e1380841-01002.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{46,85}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{46,85}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
            <key>2154-e1380841-01003.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{46,83}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{46,83}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
            <key>2154-e1380841-01004.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,89},{48,85}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{48,85}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
            <key>2154-e1380841-01005.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,176},{48,85}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{48,85}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
            <key>2154-e1380841-01006.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,87},{46,83}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{46,83}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
            <key>2154-e1380841-01007.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,180},{54,85}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{54,85}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
            <key>2154-e1380841-02000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,449},{60,83}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,3},{60,83}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
            <key>2154-e1380841-02001.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,2},{52,79}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{52,79}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
            <key>2154-e1380841-02002.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,170},{56,81}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{56,81}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
            <key>2154-e1380841-02003.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,263},{58,83}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{58,83}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
            <key>2154-e1380841-02004.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,89},{56,83}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{56,83}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
            <key>2154-e1380841-02005.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,431},{62,79}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{62,79}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
            <key>2154-e1380841-02006.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,85},{56,79}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{56,79}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
            <key>2154-e1380841-02007.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,342},{58,81}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{58,81}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
            <key>2154-e1380841-03000.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,449},{58,85}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,1},{58,85}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
            <key>2154-e1380841-03001.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,425},{54,81}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{54,81}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
            <key>2154-e1380841-03002.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,83},{46,77}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{46,77}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
            <key>2154-e1380841-03003.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,336},{46,81}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{46,81}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
            <key>2154-e1380841-03004.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,172},{48,83}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{48,83}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
            <key>2154-e1380841-03005.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,433},{48,77}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{48,77}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
            <key>2154-e1380841-03006.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,423},{46,81}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{46,81}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
            <key>2154-e1380841-03007.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,346},{54,83}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{54,83}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
            <key>2154-e1380841-04000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,89}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{54,89}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
            <key>2154-e1380841-04001.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,360},{52,87}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{52,87}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
            <key>2154-e1380841-04002.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,267},{50,85}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{50,85}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
            <key>2154-e1380841-04003.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,91},{40,87}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{40,87}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
            <key>2154-e1380841-04004.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,91},{36,87}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{36,87}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
            <key>2154-e1380841-04005.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,182},{42,87}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{42,87}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
            <key>2154-e1380841-04006.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,354},{44,85}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{44,85}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
            <key>2154-e1380841-04007.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,271},{50,87}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{50,87}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
            <key>2154-e1380841-05000.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,257},{56,81}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{56,81}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
            <key>2154-e1380841-05001.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,336},{50,79}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{50,79}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
            <key>2154-e1380841-05002.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,257},{44,83}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{44,83}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
            <key>2154-e1380841-05003.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,87},{52,83}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{52,83}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
            <key>2154-e1380841-05004.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{62,81}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,81}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
            <key>2154-e1380841-05005.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,87},{62,81}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{62,81}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
            <key>2154-e1380841-05006.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,259},{50,83}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{50,83}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
            <key>2154-e1380841-05007.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,170},{52,81}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{52,81}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
            <key>2154-e1380841-06000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{54,87}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,2},{54,87}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
            <key>2154-e1380841-06001.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,253},{52,81}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{52,81}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
            <key>2154-e1380841-06002.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,419},{50,79}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{50,79}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
            <key>2154-e1380841-06003.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,168},{40,81}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,1},{40,81}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
            <key>2154-e1380841-06004.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,172},{36,83}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,3},{36,83}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
            <key>2154-e1380841-06005.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,166},{42,79}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{42,79}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
            <key>2154-e1380841-06006.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,251},{44,79}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,3},{44,79}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
            <key>2154-e1380841-06007.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,85},{50,81}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{50,81}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
            <key>2154-e1380841-07000.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,176},{56,83}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{56,83}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
            <key>2154-e1380841-07001.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{48,81}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{48,81}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
            <key>2154-e1380841-07002.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,253},{44,81}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{44,81}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
            <key>2154-e1380841-07003.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,340},{52,81}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{52,81}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
            <key>2154-e1380841-07004.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,354},{62,83}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{62,83}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
            <key>2154-e1380841-07005.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,439},{62,81}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{62,81}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
            <key>2154-e1380841-07006.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{50,83}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{50,83}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
            <key>2154-e1380841-07007.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,174},{52,83}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{52,83}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4244e82c1e5f3a52152205a7b359580:1/1$</string>
            <key>textureFileName</key>
            <string>1.png</string>
        </dict>
    </dict>
</plist>
