<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0209-15d07ec3-00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,274},{40,87}}</string>
                <key>offset</key>
                <string>{-3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,0},{40,87}}</string>
                <key>sourceSize</key>
                <string>{142,119}</string>
            </dict>
            <key>0209-15d07ec3-00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,2},{38,73}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,17},{38,73}}</string>
                <key>sourceSize</key>
                <string>{142,119}</string>
            </dict>
            <key>0209-15d07ec3-00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{52,83}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,6},{52,83}}</string>
                <key>sourceSize</key>
                <string>{142,119}</string>
            </dict>
            <key>0209-15d07ec3-00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,157},{62,75}}</string>
                <key>offset</key>
                <string>{-6,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,11},{62,75}}</string>
                <key>sourceSize</key>
                <string>{142,119}</string>
            </dict>
            <key>0209-15d07ec3-00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{52,77}}</string>
                <key>offset</key>
                <string>{-10,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,5},{52,77}}</string>
                <key>sourceSize</key>
                <string>{142,119}</string>
            </dict>
            <key>0209-15d07ec3-00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,451},{52,59}}</string>
                <key>offset</key>
                <string>{-20,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,17},{52,59}}</string>
                <key>sourceSize</key>
                <string>{142,119}</string>
            </dict>
            <key>0209-15d07ec3-00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,353},{64,51}}</string>
                <key>offset</key>
                <string>{-25,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,27},{64,51}}</string>
                <key>sourceSize</key>
                <string>{142,119}</string>
            </dict>
            <key>0209-15d07ec3-00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,340},{80,43}}</string>
                <key>offset</key>
                <string>{-27,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,35},{80,43}}</string>
                <key>sourceSize</key>
                <string>{142,119}</string>
            </dict>
            <key>0209-15d07ec3-00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,106},{76,49}}</string>
                <key>offset</key>
                <string>{-31,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,39},{76,49}}</string>
                <key>sourceSize</key>
                <string>{142,119}</string>
            </dict>
            <key>0209-15d07ec3-00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,432},{78,47}}</string>
                <key>offset</key>
                <string>{-32,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,46},{78,47}}</string>
                <key>sourceSize</key>
                <string>{142,119}</string>
            </dict>
            <key>0209-15d07ec3-00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{80,47}}</string>
                <key>offset</key>
                <string>{-31,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,46},{80,47}}</string>
                <key>sourceSize</key>
                <string>{142,119}</string>
            </dict>
            <key>0367-24687325-00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,438},{42,72}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,18},{42,72}}</string>
                <key>sourceSize</key>
                <string>{62,96}</string>
            </dict>
            <key>0367-24687325-00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,184},{40,88}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{40,88}}</string>
                <key>sourceSize</key>
                <string>{62,96}</string>
            </dict>
            <key>1047-6a75dcb1-00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{40,88}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{40,88}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>1047-6a75dcb1-00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{46,86}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{46,86}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>1047-6a75dcb1-00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,92},{48,86}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,1},{48,86}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>1047-6a75dcb1-00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,256},{42,82}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,6},{42,82}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>1047-6a75dcb1-00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{48,82}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,9},{48,82}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>1047-6a75dcb1-00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,90},{60,84}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,10},{60,84}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>1047-6a75dcb1-00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,180},{60,84}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,10},{60,84}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>1047-6a75dcb1-00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,355},{46,84}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,10},{46,84}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>1047-6a75dcb1-00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,352},{36,84}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,10},{36,84}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>1047-6a75dcb1-00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,176},{40,84}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,10},{40,84}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>1047-6a75dcb1-00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{52,84}}</string>
                <key>offset</key>
                <string>{20,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,10},{52,84}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>1047-6a75dcb1-00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,87},{50,82}}</string>
                <key>offset</key>
                <string>{18,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,12},{50,82}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>1047-6a75dcb1-00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,266},{40,84}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,9},{40,84}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>1047-6a75dcb1-00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{48,86}}</string>
                <key>offset</key>
                <string>{15,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,5},{48,86}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>1047-6a75dcb1-00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,180},{44,86}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,2},{44,86}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>1047-6a75dcb1-00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,94},{40,88}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{40,88}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>1609-a55e0045-00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,56},{48,77}}</string>
                <key>offset</key>
                <string>{10,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,24},{48,77}}</string>
                <key>sourceSize</key>
                <string>{126,115}</string>
            </dict>
            <key>1609-a55e0045-00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,451},{56,75}}</string>
                <key>offset</key>
                <string>{21,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,32},{56,75}}</string>
                <key>sourceSize</key>
                <string>{126,115}</string>
            </dict>
            <key>1609-a55e0045-00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,194},{54,75}}</string>
                <key>offset</key>
                <string>{31,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,39},{54,75}}</string>
                <key>sourceSize</key>
                <string>{126,115}</string>
            </dict>
            <key>1609-a55e0045-00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,250},{50,75}}</string>
                <key>offset</key>
                <string>{26,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,39},{50,75}}</string>
                <key>sourceSize</key>
                <string>{126,115}</string>
            </dict>
            <key>1609-a55e0045-00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,221},{50,75}}</string>
                <key>offset</key>
                <string>{12,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,39},{50,75}}</string>
                <key>sourceSize</key>
                <string>{126,115}</string>
            </dict>
            <key>1609-a55e0045-00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,336},{40,61}}</string>
                <key>offset</key>
                <string>{18,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,51},{40,61}}</string>
                <key>sourceSize</key>
                <string>{126,115}</string>
            </dict>
            <key>1609-a55e0045-00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,87},{42,83}}</string>
                <key>offset</key>
                <string>{13,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,30},{42,83}}</string>
                <key>sourceSize</key>
                <string>{126,115}</string>
            </dict>
            <key>1609-a55e0045-00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,347},{60,83}}</string>
                <key>offset</key>
                <string>{29,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,30},{60,83}}</string>
                <key>sourceSize</key>
                <string>{126,115}</string>
            </dict>
            <key>1609-a55e0045-00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,262},{60,83}}</string>
                <key>offset</key>
                <string>{33,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,29},{60,83}}</string>
                <key>sourceSize</key>
                <string>{126,115}</string>
            </dict>
            <key>1609-a55e0045-00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,268},{64,85}}</string>
                <key>offset</key>
                <string>{30,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,30},{64,85}}</string>
                <key>sourceSize</key>
                <string>{126,115}</string>
            </dict>
            <key>1609-a55e0045-00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,422},{42,79}}</string>
                <key>offset</key>
                <string>{11,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,35},{42,79}}</string>
                <key>sourceSize</key>
                <string>{126,115}</string>
            </dict>
            <key>1609-a55e0045-00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,302},{32,75}}</string>
                <key>offset</key>
                <string>{11,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,35},{32,75}}</string>
                <key>sourceSize</key>
                <string>{126,115}</string>
            </dict>
            <key>1609-a55e0045-00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,273},{38,75}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,26},{38,75}}</string>
                <key>sourceSize</key>
                <string>{126,115}</string>
            </dict>
            <key>1609-a55e0045-00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,86},{40,81}}</string>
                <key>offset</key>
                <string>{11,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,25},{40,81}}</string>
                <key>sourceSize</key>
                <string>{126,115}</string>
            </dict>
            <key>1897-c3578b7f-00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,171},{40,82}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{40,82}}</string>
                <key>sourceSize</key>
                <string>{66,98}</string>
            </dict>
            <key>1897-c3578b7f-00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,42},{50,70}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,20},{50,70}}</string>
                <key>sourceSize</key>
                <string>{66,98}</string>
            </dict>
            <key>1897-c3578b7f-00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,94},{42,68}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,21},{42,68}}</string>
                <key>sourceSize</key>
                <string>{66,98}</string>
            </dict>
            <key>1897-c3578b7f-00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,138},{54,74}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,16},{54,74}}</string>
                <key>sourceSize</key>
                <string>{66,98}</string>
            </dict>
            <key>1897-c3578b7f-00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,363},{62,86}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{62,86}}</string>
                <key>sourceSize</key>
                <string>{66,98}</string>
            </dict>
            <key>1897-c3578b7f-00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{46,90}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{46,90}}</string>
                <key>sourceSize</key>
                <string>{66,98}</string>
            </dict>
            <key>1897-c3578b7f-00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,370},{42,88}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{42,88}}</string>
                <key>sourceSize</key>
                <string>{66,98}</string>
            </dict>
            <key>1897-c3578b7f-00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{42,90}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{42,90}}</string>
                <key>sourceSize</key>
                <string>{66,98}</string>
            </dict>
            <key>1897-c3578b7f-00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{46,90}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{46,90}}</string>
                <key>sourceSize</key>
                <string>{66,98}</string>
            </dict>
            <key>1897-c3578b7f-00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,90}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{56,90}}</string>
                <key>sourceSize</key>
                <string>{66,98}</string>
            </dict>
            <key>1897-c3578b7f-00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{46,90}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{46,90}}</string>
                <key>sourceSize</key>
                <string>{66,98}</string>
            </dict>
            <key>1897-c3578b7f-00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,274},{30,88}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{30,88}}</string>
                <key>sourceSize</key>
                <string>{66,98}</string>
            </dict>
            <key>2329-f577111e-00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,313},{38,74}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,13},{38,74}}</string>
                <key>sourceSize</key>
                <string>{62,94}</string>
            </dict>
            <key>2329-f577111e-00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,172},{52,82}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{52,82}}</string>
                <key>sourceSize</key>
                <string>{62,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>234567.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:efe2231fbb479dfa9fd3d6c10224419c:1/1$</string>
            <key>textureFileName</key>
            <string>234567.png</string>
        </dict>
    </dict>
</plist>
