<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0485-3072aab6-00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,82},{44,78}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{44,78}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>0485-3072aab6-00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,162},{46,78}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{46,78}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>0485-3072aab6-00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{54,76}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{54,76}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>0485-3072aab6-00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,82},{52,78}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{52,78}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>0485-3072aab6-00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{54,78}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{54,78}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>0485-3072aab6-00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,162},{52,78}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{52,78}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>0485-3072aab6-00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,406},{50,78}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{50,78}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>0485-3072aab6-01000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{50,80}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{50,80}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>0485-3072aab6-01001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{50,80}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{50,80}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>0485-3072aab6-01002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{52,80}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{52,80}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>0485-3072aab6-01003.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,84},{42,80}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{42,80}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>0485-3072aab6-01004.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,412},{42,80}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{42,80}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>0485-3072aab6-01005.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,330},{42,80}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{42,80}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>0485-3072aab6-01006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,80}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{54,80}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>0485-3072aab6-02000.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,236},{44,76}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,2},{44,76}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>0485-3072aab6-02001.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,190},{44,76}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,2},{44,76}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>0485-3072aab6-02002.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,80},{54,76}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,2},{54,76}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>0485-3072aab6-02003.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,160},{54,76}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{54,76}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>0485-3072aab6-02004.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,238},{52,76}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{52,76}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>0485-3072aab6-02005.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,316},{52,76}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{52,76}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>0485-3072aab6-02006.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,316},{50,76}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,2},{50,76}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>0485-3072aab6-03000.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,406},{50,78}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{50,78}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>0485-3072aab6-03001.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{50,78}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{50,78}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>0485-3072aab6-03002.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,246},{52,78}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{52,78}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>0485-3072aab6-03003.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,236},{42,76}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{42,76}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>0485-3072aab6-03004.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,314},{42,76}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{42,76}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>0485-3072aab6-03005.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,242},{42,78}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{42,78}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>0485-3072aab6-03006.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,82},{54,78}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{54,78}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>0485-3072aab6-04000.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,50},{46,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,1},{46,76}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>0485-3072aab6-04001.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,144},{44,76}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,1},{44,76}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>0485-3072aab6-04002.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,238},{58,76}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,1},{58,76}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>0485-3072aab6-04003.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,402},{66,76}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{66,76}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>0485-3072aab6-04004.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,160},{58,76}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{58,76}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>0485-3072aab6-04005.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,82},{62,76}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{62,76}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>0485-3072aab6-04006.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,394},{48,76}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,1},{48,76}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>0485-3072aab6-05000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{52,80}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{52,80}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>0485-3072aab6-05001.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,326},{52,78}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,1},{52,78}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>0485-3072aab6-05002.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,242},{48,78}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,1},{48,78}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>0485-3072aab6-05003.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,322},{34,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,1},{34,78}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>0485-3072aab6-05004.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,402},{38,78}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,1},{38,78}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>0485-3072aab6-05005.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,322},{42,78}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,1},{42,78}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>0485-3072aab6-05006.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,166},{56,78}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,1},{56,78}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>0485-3072aab6-06000.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{46,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,1},{46,76}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>0485-3072aab6-06001.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,98},{44,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,1},{44,76}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>0485-3072aab6-06002.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{60,76}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{60,76}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>0485-3072aab6-06003.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,314},{66,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{66,74}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>0485-3072aab6-06004.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,446},{58,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{58,74}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>0485-3072aab6-06005.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,382},{62,74}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{62,74}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>0485-3072aab6-06006.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,236},{48,74}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{48,74}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>0485-3072aab6-07000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{52,80}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{52,80}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>0485-3072aab6-07001.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,246},{52,78}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{52,78}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>0485-3072aab6-07002.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,326},{48,78}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{48,78}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>0485-3072aab6-07003.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,402},{34,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,1},{34,78}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>0485-3072aab6-07004.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,162},{38,78}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,1},{38,78}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>0485-3072aab6-07005.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{42,78}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,1},{42,78}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>0485-3072aab6-07006.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{56,78}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{56,78}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>0.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55349eef14219153aef1d2e5306f5c83:1/1$</string>
            <key>textureFileName</key>
            <string>0.png</string>
        </dict>
    </dict>
</plist>
