<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0289-1d6c9873-00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{56,71}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{56,71}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>0289-1d6c9873-00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,300},{54,69}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,16},{54,69}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>0289-1d6c9873-00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,75},{50,71}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{50,71}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>0289-1d6c9873-00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,393},{68,73}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{68,73}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>0289-1d6c9873-00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,152},{54,73}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{54,73}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>0289-1d6c9873-00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,385},{60,73}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{60,73}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>0289-1d6c9873-00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{56,73}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{56,73}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>0289-1d6c9873-00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,152},{54,71}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{54,71}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>0289-1d6c9873-01000.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,316},{50,75}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{50,75}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>0289-1d6c9873-01001.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,460},{50,71}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,17},{50,71}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>0289-1d6c9873-01002.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,399},{52,75}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{52,75}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>0289-1d6c9873-01003.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,375},{48,71}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{48,71}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>0289-1d6c9873-01004.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{52,73}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{52,73}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>0289-1d6c9873-01005.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,225},{44,69}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{44,69}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>0289-1d6c9873-01006.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,375},{44,71}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{44,71}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>0289-1d6c9873-01007.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,77},{54,73}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{54,73}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>0289-1d6c9873-02000.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,168},{56,79}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{56,79}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>0289-1d6c9873-02001.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,81},{54,77}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{54,77}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>0289-1d6c9873-02002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,257},{50,83}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{50,83}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>0289-1d6c9873-02003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,83}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{68,83}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>0289-1d6c9873-02004.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{56,77}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{56,77}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>0289-1d6c9873-02005.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,164},{60,77}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{60,77}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>0289-1d6c9873-02006.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,83},{56,77}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{56,77}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>0289-1d6c9873-02007.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,168},{54,79}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{54,79}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>0289-1d6c9873-03000.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,399},{50,75}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,5},{50,75}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>0289-1d6c9873-03001.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{50,77}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,7},{50,77}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>0289-1d6c9873-03002.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,249},{54,79}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{54,79}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>0289-1d6c9873-03003.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{48,79}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{48,79}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>0289-1d6c9873-03004.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,83},{52,79}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{52,79}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>0289-1d6c9873-03005.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,160},{44,77}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,7},{44,77}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>0289-1d6c9873-03006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,427},{44,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,5},{44,83}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>0289-1d6c9873-03007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{54,83}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{54,83}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>0289-1d6c9873-04000.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,448},{56,69}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,18},{56,69}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>0289-1d6c9873-04001.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,158},{46,75}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{46,75}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>0289-1d6c9873-04002.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,152},{48,73}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,12},{48,73}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>0289-1d6c9873-04003.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,77},{46,73}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,10},{46,73}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>0289-1d6c9873-04004.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{38,73}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,15},{38,73}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>0289-1d6c9873-04005.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,237},{46,75}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{46,75}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>0289-1d6c9873-04006.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,235},{62,73}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{62,73}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>0289-1d6c9873-04007.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,81},{54,75}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{54,75}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>0289-1d6c9873-05000.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,87},{60,79}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{60,79}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>0289-1d6c9873-05001.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,160},{54,75}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{54,75}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>0289-1d6c9873-05002.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,243},{48,77}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{48,77}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>0289-1d6c9873-05003.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,239},{54,75}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{54,75}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>0289-1d6c9873-05004.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,314},{64,73}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{64,73}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>0289-1d6c9873-05005.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,227},{54,71}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{54,71}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>0289-1d6c9873-05006.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,468},{40,73}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,9},{40,73}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>0289-1d6c9873-05007.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,77},{52,73}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,5},{52,73}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>0289-1d6c9873-06000.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{56,79}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{56,79}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>0289-1d6c9873-06001.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,411},{46,79}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,6},{46,79}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>0289-1d6c9873-06002.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,342},{48,81}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{48,81}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>0289-1d6c9873-06003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{48,83}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{48,83}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>0289-1d6c9873-06004.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,257},{38,81}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,3},{38,81}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>0289-1d6c9873-06005.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,330},{46,79}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,7},{46,79}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>0289-1d6c9873-06006.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,427},{62,81}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{62,81}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>0289-1d6c9873-06007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{54,83}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{54,83}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>0289-1d6c9873-07000.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,310},{60,73}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{60,73}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>0289-1d6c9873-07001.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,302},{54,71}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{54,71}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>0289-1d6c9873-07002.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,227},{48,73}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,10},{48,73}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>0289-1d6c9873-07003.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,322},{54,75}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,5},{54,75}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>0289-1d6c9873-07004.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,330},{64,77}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{64,77}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>0289-1d6c9873-07005.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,409},{54,75}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,12},{54,75}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>0289-1d6c9873-07006.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,249},{40,79}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,8},{40,79}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>0289-1d6c9873-07007.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{52,75}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{52,75}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a46aeecb167aef813efbf2b0d4c620b:1/1$</string>
            <key>textureFileName</key>
            <string>1.png</string>
        </dict>
    </dict>
</plist>
