<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1129-7135607e-00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,246},{52,75}}</string>
                <key>offset</key>
                <string>{3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{52,75}}</string>
                <key>sourceSize</key>
                <string>{130,105}</string>
            </dict>
            <key>1129-7135607e-00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,159},{50,75}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{50,75}}</string>
                <key>sourceSize</key>
                <string>{130,105}</string>
            </dict>
            <key>1129-7135607e-00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,56},{48,67}}</string>
                <key>offset</key>
                <string>{-15,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,13},{48,67}}</string>
                <key>sourceSize</key>
                <string>{130,105}</string>
            </dict>
            <key>1129-7135607e-00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,2},{52,67}}</string>
                <key>offset</key>
                <string>{-21,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,18},{52,67}}</string>
                <key>sourceSize</key>
                <string>{130,105}</string>
            </dict>
            <key>1129-7135607e-00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,245},{68,53}}</string>
                <key>offset</key>
                <string>{-25,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,31},{68,53}}</string>
                <key>sourceSize</key>
                <string>{130,105}</string>
            </dict>
            <key>1129-7135607e-00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,130},{70,55}}</string>
                <key>offset</key>
                <string>{-29,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,37},{70,55}}</string>
                <key>sourceSize</key>
                <string>{130,105}</string>
            </dict>
            <key>1129-7135607e-00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,383},{72,51}}</string>
                <key>offset</key>
                <string>{-29,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,53},{72,51}}</string>
                <key>sourceSize</key>
                <string>{130,105}</string>
            </dict>
            <key>1129-7135607e-01000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,265},{50,79}}</string>
                <key>offset</key>
                <string>{12,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,1},{50,79}}</string>
                <key>sourceSize</key>
                <string>{130,105}</string>
            </dict>
            <key>1432-922e6ccb-00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,202},{54,41}}</string>
                <key>offset</key>
                <string>{1,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,73},{54,41}}</string>
                <key>sourceSize</key>
                <string>{152,129}</string>
            </dict>
            <key>1432-922e6ccb-00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,448},{62,61}}</string>
                <key>offset</key>
                <string>{11,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,53},{62,61}}</string>
                <key>sourceSize</key>
                <string>{152,129}</string>
            </dict>
            <key>1432-922e6ccb-00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,2},{56,63}}</string>
                <key>offset</key>
                <string>{26,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,50},{56,63}}</string>
                <key>sourceSize</key>
                <string>{152,129}</string>
            </dict>
            <key>1432-922e6ccb-00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{54,77}}</string>
                <key>offset</key>
                <string>{49,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,41},{54,77}}</string>
                <key>sourceSize</key>
                <string>{152,129}</string>
            </dict>
            <key>1432-922e6ccb-00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{48,85}}</string>
                <key>offset</key>
                <string>{30,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,34},{48,85}}</string>
                <key>sourceSize</key>
                <string>{152,129}</string>
            </dict>
            <key>1432-922e6ccb-00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{46,85}}</string>
                <key>offset</key>
                <string>{33,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,33},{46,85}}</string>
                <key>sourceSize</key>
                <string>{152,129}</string>
            </dict>
            <key>1432-922e6ccb-00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,87}}</string>
                <key>offset</key>
                <string>{34,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,32},{48,87}}</string>
                <key>sourceSize</key>
                <string>{152,129}</string>
            </dict>
            <key>1432-922e6ccb-00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,91},{50,85}}</string>
                <key>offset</key>
                <string>{35,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,34},{50,85}}</string>
                <key>sourceSize</key>
                <string>{152,129}</string>
            </dict>
            <key>1432-922e6ccb-00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{62,77}}</string>
                <key>offset</key>
                <string>{37,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,44},{62,77}}</string>
                <key>sourceSize</key>
                <string>{152,129}</string>
            </dict>
            <key>1432-922e6ccb-00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,67},{56,61}}</string>
                <key>offset</key>
                <string>{32,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,65},{56,61}}</string>
                <key>sourceSize</key>
                <string>{152,129}</string>
            </dict>
            <key>1432-922e6ccb-00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,450},{60,59}}</string>
                <key>offset</key>
                <string>{34,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,70},{60,59}}</string>
                <key>sourceSize</key>
                <string>{152,129}</string>
            </dict>
            <key>2012-d123dbd0-00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,415},{57,75}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,2},{57,75}}</string>
                <key>sourceSize</key>
                <string>{99,83}</string>
            </dict>
            <key>2012-d123dbd0-00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,154},{59,73}}</string>
                <key>offset</key>
                <string>{-10,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{59,73}}</string>
                <key>sourceSize</key>
                <string>{99,83}</string>
            </dict>
            <key>2057-d6afcac2-00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{48,76}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,6},{48,76}}</string>
                <key>sourceSize</key>
                <string>{82,84}</string>
            </dict>
            <key>2057-d6afcac2-00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,425},{54,76}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,6},{54,76}}</string>
                <key>sourceSize</key>
                <string>{82,84}</string>
            </dict>
            <key>2057-d6afcac2-00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,168},{52,76}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,6},{52,76}}</string>
                <key>sourceSize</key>
                <string>{82,84}</string>
            </dict>
            <key>2057-d6afcac2-00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,232},{42,74}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,8},{42,74}}</string>
                <key>sourceSize</key>
                <string>{82,84}</string>
            </dict>
            <key>2057-d6afcac2-00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,312},{42,74}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,8},{42,74}}</string>
                <key>sourceSize</key>
                <string>{82,84}</string>
            </dict>
            <key>2057-d6afcac2-00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,399},{42,74}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,8},{42,74}}</string>
                <key>sourceSize</key>
                <string>{82,84}</string>
            </dict>
            <key>2057-d6afcac2-00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,78},{42,74}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,8},{42,74}}</string>
                <key>sourceSize</key>
                <string>{82,84}</string>
            </dict>
            <key>2057-d6afcac2-00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{62,74}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{62,74}}</string>
                <key>sourceSize</key>
                <string>{82,84}</string>
            </dict>
            <key>2057-d6afcac2-00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,323},{56,74}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{56,74}}</string>
                <key>sourceSize</key>
                <string>{82,84}</string>
            </dict>
            <key>2057-d6afcac2-00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,414},{60,74}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{60,74}}</string>
                <key>sourceSize</key>
                <string>{82,84}</string>
            </dict>
            <key>2057-d6afcac2-00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,80},{62,74}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{62,74}}</string>
                <key>sourceSize</key>
                <string>{82,84}</string>
            </dict>
            <key>2057-d6afcac2-00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,236},{52,74}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{52,74}}</string>
                <key>sourceSize</key>
                <string>{82,84}</string>
            </dict>
            <key>2057-d6afcac2-00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,156},{48,74}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,8},{48,74}}</string>
                <key>sourceSize</key>
                <string>{82,84}</string>
            </dict>
            <key>2057-d6afcac2-00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,337},{46,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{46,76}}</string>
                <key>sourceSize</key>
                <string>{82,84}</string>
            </dict>
            <key>2057-d6afcac2-00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,259},{58,76}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{58,76}}</string>
                <key>sourceSize</key>
                <string>{82,84}</string>
            </dict>
            <key>2057-d6afcac2-00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,81},{48,76}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,6},{48,76}}</string>
                <key>sourceSize</key>
                <string>{82,84}</string>
            </dict>
            <key>2085-da002f0b-00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,337},{54,75}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{54,75}}</string>
                <key>sourceSize</key>
                <string>{80,93}</string>
            </dict>
            <key>2085-da002f0b-00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,78},{56,73}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{56,73}}</string>
                <key>sourceSize</key>
                <string>{80,93}</string>
            </dict>
            <key>2085-da002f0b-00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{52,73}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{52,73}}</string>
                <key>sourceSize</key>
                <string>{80,93}</string>
            </dict>
            <key>2085-da002f0b-00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,229},{58,71}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,15},{58,71}}</string>
                <key>sourceSize</key>
                <string>{80,93}</string>
            </dict>
            <key>2085-da002f0b-00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,377},{56,71}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,15},{56,71}}</string>
                <key>sourceSize</key>
                <string>{80,93}</string>
            </dict>
            <key>2085-da002f0b-00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,226},{52,71}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{52,71}}</string>
                <key>sourceSize</key>
                <string>{80,93}</string>
            </dict>
            <key>2085-da002f0b-00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,375},{52,71}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,15},{52,71}}</string>
                <key>sourceSize</key>
                <string>{80,93}</string>
            </dict>
            <key>2085-da002f0b-00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,302},{54,71}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,15},{54,71}}</string>
                <key>sourceSize</key>
                <string>{80,93}</string>
            </dict>
            <key>2085-da002f0b-00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,153},{56,71}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,15},{56,71}}</string>
                <key>sourceSize</key>
                <string>{80,93}</string>
            </dict>
            <key>2085-da002f0b-00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,369},{50,71}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,15},{50,71}}</string>
                <key>sourceSize</key>
                <string>{80,93}</string>
            </dict>
            <key>2085-da002f0b-00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,463},{44,71}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,15},{44,71}}</string>
                <key>sourceSize</key>
                <string>{80,93}</string>
            </dict>
            <key>2085-da002f0b-00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,442},{52,67}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,19},{52,67}}</string>
                <key>sourceSize</key>
                <string>{80,93}</string>
            </dict>
            <key>2085-da002f0b-00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,315},{52,67}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,19},{52,67}}</string>
                <key>sourceSize</key>
                <string>{80,93}</string>
            </dict>
            <key>2085-da002f0b-00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,304},{58,71}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,15},{58,71}}</string>
                <key>sourceSize</key>
                <string>{80,93}</string>
            </dict>
            <key>2085-da002f0b-00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,475},{32,73}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,13},{32,73}}</string>
                <key>sourceSize</key>
                <string>{80,93}</string>
            </dict>
            <key>2085-da002f0b-00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,229},{40,73}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,13},{40,73}}</string>
                <key>sourceSize</key>
                <string>{80,93}</string>
            </dict>
            <key>2085-da002f0b-00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,308},{40,73}}</string>
                <key>offset</key>
                <string>{12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,13},{40,73}}</string>
                <key>sourceSize</key>
                <string>{80,93}</string>
            </dict>
            <key>2085-da002f0b-00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,388},{40,73}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,13},{40,73}}</string>
                <key>sourceSize</key>
                <string>{80,93}</string>
            </dict>
            <key>2085-da002f0b-00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,178},{42,79}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,7},{42,79}}</string>
                <key>sourceSize</key>
                <string>{80,93}</string>
            </dict>
            <key>2085-da002f0b-00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,89},{62,77}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{62,77}}</string>
                <key>sourceSize</key>
                <string>{80,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>234567.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3556707e44cfc76490f28bbeb0c13095:1/1$</string>
            <key>textureFileName</key>
            <string>234567.png</string>
        </dict>
    </dict>
</plist>
